.vscode
.idea

__pycache__/
*.py[cod]
*$py.class
*.so
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.python-version

node_modules/
*.mp4
*.m3u8
*.ts

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.DS_Store

*.pb
*.meta
*.index
*.h5
checkpoint
*.data-*
pipeline.config